/*reminder to make search in button transparent*/

/* Background setup for the entire page */
body {
  background-image: url(https://images.hdqwalls.com/download/simple-subtle-abstract-dark-minimalism-4k-u9-1360x768.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

/* Main container for the header and table */
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

/* Header and subtitle styling */
.header {
  color: aliceblue;
  font-size: 5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitle {
  color: aliceblue;
  font-size: 1vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* Make shindinkle table transparent to show background img */
table.dataTable tbody td {
  background-color: transparent !important;
}

table.dataTable {
  border-bottom: 2px solid white !important;
}

table.dataTable thead th {
  border-bottom: 2px solid white !important; /* Thicker white line for header */
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

#caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
